/*左侧的tab (api history collection)内容高度*/
.aside-tab-content {
  height: calc(100vh - 168px);
}

/*http请求体tab(form raw binary)内容高度*/
.request-body-tab-content {
  height: calc(100vh - 317px);
}

/*http响应tab(body和header)内容高度*/
.response-tab-content {
  height: calc(100vh - 317px);
}
